.photo-grid {
  max-width: calc(1280px - 96px);
  padding: 0 48px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1279px) {
  .photo-grid  {
    max-width: calc(100% - 96px);
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid  {
    max-width: calc(100% - 48px);
    padding: 0 24px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid  {
    max-width: calc(100% - 32px);
    padding: 0 16px;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 12px;
  }
}