.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  min-height: calc(100vw / 1.625);
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1280px) {
  .cover {
    min-height: 740px;
  }
}