.lead__image-caption {
  max-width: 984px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}