.intro__title {
  margin: 0 0 40px 0;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
}